/*
  inspired by: http://nicolasgallagher.com/pure-css-speech-bubbles/demo/default.css
  date: 11.09.2017

*/
html {
  background-color: #ECE8E8;
}
.tab1 {
	padding-bottom: 10px;
}
.div1 {
	padding-bottom: 21px;
}
.message {
  position:relative;
  padding:20px;
  margin:0px 0px 30px;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:12px;
  font-weight: bold;
}
.message:after {
  content:"";
  position:absolute;
  bottom:-15px;
  left:50px;
  border-width:15px 15px 0;
  border-color:#f3961c transparent;
  display:block;
  width:0;

}
.message.user {
  margin-left:5px;
  margin-right:60px;
  background:#F8BA00;
  color:#515151;
  transform: rotate(-2deg);

}

.message.user:after {
  top:16px;
  left:-50px;
  bottom:auto;
  border-width:10px 50px 10px 0;
  border-color:transparent #F8BA00;
}

.message.tjbot {
  margin-right:5px;
  margin-left:60px;
  background:#515151;
  color:#ffffff;
  transform: rotate(2deg);
}
.message.tjbot:after {
  top:16px;
  right:-50px;
  bottom:auto;
  left:auto;
  border-width:10px 0 10px 50px;
  border-color:transparent #1bb5f1;
}
.c2 { /* for the 1st user message so that it won't move after the answer from tjbot comes */
	width: 100%;
}
.td-al-right {
  text-align: right;
}

h1 {
  font-size: 30px;
  text-align: center;
  font-weight: normal;
  position: relative;
  color: #000000;
  margin-bottom: 10px;
}
td {
  vertical-align: top;
}
body {
  font-family: 'Helvetica Neue', Helvetica;
}

.text_box  {
  display: inline-block;
  box-sizing: content-box;
  padding: 10px 20px;
  border: 0;
  border-bottom: 2px solid #7f7c7c;
  background-color: #ECE8E8;
  font-size: 16px;
}

.text_box:hover {
  border-bottom: 2px solid #ffffff;
}

.banner {
  position: relative;
  top: -12px;
  padding-bottom: 40px;
}

.banner-description {
  position: relative;
  top: -175px;
  transform: rotate(-2deg);
}

footer {
  display: block;
  position: fixed;
  bottom: 7.5px;
  left: 12px;
}
.watson img{
  height: auto;
  width: 100%;
}
.watson {
  height:auto;
  width: 45px;
  box-shadow: 0 1px 3px #ffffff;
  border: 2px solid #ffffff;
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  padding: 6px;
}

.watson:hover{
  border: 2px solid rgba(255, 255, 255, 1);
  box-shadow: 0 1px 3px;
  cursor: pointer;
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
}

.watson .tooltiptext {
  visibility: hidden;
  width: 500%;
  background-color:rgba(81, 81, 81, 1) ;
  color: #fff;
  border-radius: 6px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -40px;
  margin-bottom: 10px;
}

.watson:hover .tooltiptext {
    visibility: visible;
}

i.material-icons {
  color: rgba(255, 255, 255, 1);
  display: block;
  position: fixed;
  left: 85px;
  bottom: 10px;
  box-shadow: 0 1px 3px;
  border: 2px solid rgba(255, 255, 255, 1);
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  padding: 5px;
}

i.material-icons:hover {
  color: rgba(81, 81, 81, 1);
  cursor: pointer;
}

i.material-icons .tooltiptext {
  visibility: hidden;
  width: 500%;
  background-color:rgba(81, 81, 81, 1) ;
  color: #fff;
  border-radius: 6px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -40px;
  margin-bottom: 10px;
}

i.material-icons:hover .tooltiptext {
    visibility: visible;
    font-size: 16px;
    font-family: "Helvetica Neue", Helvetica;
}

img.send {
  display: inline-block;
  margin-bottom: -10px;
  height: auto;
  width: 20px;
}

img.send:hover {
  transform: rotate(45deg);
  cursor: pointer;
}
